.aggregatePlaceholder {
  height: $chartHeight;
  background-color: $chartBackgroundColor;
  border-radius: 8px;
  margin: auto;
  color: $chartFontColor;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
