.eventDetailsHeader {
  text-align: center;
  font-weight: 300;
  font-size: 20px;

  :nth-child(2) {
    font-size: 30px;
  }
}

.statisticsArea {
  padding: 25px;
  display: flex;
  font-weight: 300;

  .selectedEvent {
    width: 0.5 * $aggregateContainerWidth;
  }
}

@import './selectedEventTable/selectedEventTable.styles.scss';
@import './dayStatisticsArea/dayStatisticsArea.styles.scss';
@import './geolocationDisplay/geolocationDisplay.styles.scss';
