$selectedEventTableWidth: 0.5 * $aggregateContainerWidth;

.selectedEventTable {
  margin-right: 10px;

  .headers {
    display: flex;
    border-bottom: 1px solid rgba(242, 242, 242, 0.8);
    font-weight: 400;
    padding-bottom: 5px;
    justify-content: space-around;

    :nth-child(1), :nth-child(2) {
      width: 0.15 * $selectedEventTableWidth;
      text-align: left;
    }

    :nth-child(3) {
      width: 0.7 * $selectedEventTableWidth;
    }
  }

  .row {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    border-bottom: 1px solid rgba(242, 242, 242, 0.2);

    :nth-child(1), :nth-child(2) {
      width: 0.15 * $selectedEventTableWidth;
      text-align: left;
    }

    :nth-child(3) {
      width: 0.7 * $selectedEventTableWidth;
    }
  }
}
