.aggregateArea {
  margin: 0 auto 20px;
  width: $aggregateContainerWidth;
  min-width: $aggregateContainerWidth;
  // height: $aggregateContainerHeight;
  background-color: $chartBackgroundColor;
  color: $chartFontColor;
  font-weight: 200;
  box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.45);
  border-radius: 8px;

  .aggregateAreaHeader {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
  }

  .aggregateCharts {
    display: flex;
    height: $aggregateChartsHeight;
  }

  .multiChart {
    height: $aggregateMultiChartHeight;
  }
}

@import './aggregatePlaceholder/aggregatePlaceholder.styles.scss';
@import './aggregateChart/aggregateChart.styles.scss';
@import './aggregateControls/aggregateControls.styles.scss';
@import './eventDetailsArea/eventDetailsArea.styles.scss';
