.aggregateArea {
  margin: 0 auto 20px;
  width: $aggregateContainerWidth;
  min-width: $aggregateContainerWidth;
  height: $aggregateContainerHeight;
  background-color: $chartBackgroundColor;
  color: $chartFontColor;
  font-weight: 200;
  box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.45);
  border-radius: 8px;
}

@import './aggregatePlaceholder/aggregatePlaceholder.styles.scss';
@import './aggregateChart/aggregateChart.styles.scss';
