$dayStatisticsAreaWidth: 0.45 * $aggregateContainerWidth;

.dayStatisticsArea {
  width: $dayStatisticsAreaWidth;

  .dayStatisticsRow {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 15px;
    text-align: center;

    .value, .difference, .average {
      font-weight: 500;
    }

    .positive {
      color: limegreen;
    }

    .negative {
      color: crimson;
    }
  }
}
