$chartBackgroundColor: rgb(32, 29, 30);
$chartFontColor: rgb(192, 192, 192);
$mainBackgroundColor: rgba(192, 192, 192, 0.25);
$secondaryColor: #EF8354;

// Dimensions
$chartContainerWidth: 502px;
$chartWidth: 502px;
$chartHeight: 270px;
$chartControlsHeight: 50px;

$aggregateContainerWidth: 1050px;
$aggregateContainerHeight: 270px;

body {
  margin: 0;
  background-color: $mainBackgroundColor;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .header {
    color: $chartBackgroundColor;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import './components/main/main.styles.scss';
@import './components//aggregateArea/aggregateArea.styles.scss';
@import './statelessComponents/chartContainer/chartContainer.styles.scss';
@import './statelessComponents/select/select.styles.scss';
@import './statelessComponents/checkBox/checkBox.styles.scss';
